In [1]:
from data.dataloader import JobListingData
from metrics.posting_metrics import JobListingMetrics

data_factory = JobListingData()
d = data_factory.read_data()
d = JobListingMetrics.add_posting_range(d)
print(d.dtypes)
d.head()

title                              object
company_name                       object
city                               object
region                             object
zip                                object
created                    datetime64[ns]
last_checked               datetime64[ns]
last_updated               datetime64[ns]
delete_date                datetime64[ns]
onet_occupation_code               object
SOC_occupation_code                object
url                                object
stock_exchange_country             object
stock_exchange_name                object
stock_ticker                       object
ticker_end_date            datetime64[ns]
ticker_start_date          datetime64[ns]
time_range                timedelta64[ns]
dtype: object

,title,company_name,city,region,zip,created,last_checked,last_updated,delete_date,onet_occupation_code,SOC_occupation_code,url,stock_exchange_country,stock_exchange_name,stock_ticker,ticker_end_date,ticker_start_date,time_range
0,Plant Operator 3,Ecolab Inc.,Aberdeen,Scotland,AB25,2014-12-10 12:36:33,2014-12-14 15:38:40,NaT,2014-12-16 15:58:17,51-8013.00,8124,http://jobs.ecolab.com/job/Aberdeen-Plant-Oper...,US,NYS,ECL,NaT,1986-12-10,6 days 03:21:44
1,Service Specialist - Pest,Ecolab Inc.,London,England,SW1A,2017-07-05 00:46:00,2017-09-23 12:52:00,NaT,2017-09-24 13:03:55,37-2021.00,6132,http://jobs.ecolab.com/job/7497398/service-spe...,US,NYS,ECL,NaT,1986-12-10,81 days 12:17:55
2,Service Specialist - Romford,Ecolab Inc.,NaN,NaN,NaN,2018-05-21 00:42:00,2018-06-11 07:35:00,NaT,2018-06-12 09:56:00,99-9999.00,9999,http://jobs.ecolab.com/job/8332281/service-spe...,US,NYS,ECL,NaT,1986-12-10,22 days 09:14:00
3,Service Specialist - Pest,Ecolab Inc.,Cambridge,England,NaN,2017-11-02 19:51:00,2017-12-05 15:40:00,NaT,2017-12-09 02:56:58,37-2021.00,6132,http://jobs.ecolab.com/job/7827995/service-spe...,US,NYS,ECL,NaT,1986-12-10,36 days 07:05:58
4,Application Engineer I,Ecolab Inc.,Aberdeen,Scotland,AB25,2014-01-07 22:48:08,2014-04-06 19:03:00,NaT,2014-04-08 19:27:57,15-1132.00,2136,http://jobs.ecolab.com/job/Aberdeen-Applicatio...,US,NYS,ECL,NaT,1986-12-10,90 days 20:39:49

In [ ]:
from data.dataloader import UKEmploymentData

data_factory = UKEmploymentData()
d = data_factory.read_data()
print(d.dtypes)
d.head()

In [ ]:
import numpy as np
import pandas as pd
import pandas_profiling
from data.dataloader import UKLabor

data_factory = UKLabor()
d = data_factory.read_data()
print(d.dtypes)
d.head()

d.profile_report(style={'full_width':True})